*{
    padding: 0;
    margin: 0%;
}
body {
    background-color: rgb(9, 0, 139);
    color: rgb(0, 255, 13);
    text-align: center;
}

.square{
    width: 150px;
    height: 150px;
    background-color: rgb(82, 132, 189);
    border-style: solid;
    border-color: rgba(255, 7, 7, 0.479);
}
.grid{
    margin-top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 500px;
    margin-left: 400px;
    }

.mole{
    background-image: url(/moles.png);
    background-size: cover;
}

.set{
    justify-content: center;
    display: flex;
    color: rgb(87, 204, 19);
    font-weight: bolder;
    font-size: larger;
}
h2 {
    padding: 5px;
}